/*
backg 1D4063
  shade-blue 405C78
 purple #781496;
*/

/* general styles */

:root {
  --theme-orange: #ff4b2b;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-size: 16px;
  font-family: "Montserrat", Sans-serif;
  background-color: #f6f5ff;
}

a {
  text-decoration: none;
}

/* -------------- NAVIGATION ---------------- */

header a {
  color: inherit;
}

/* ------ Main Header Navbar ------- */

header nav {
  background-color: #1a1a1a;
  color: #afafaf;
  padding: 0.5rem 2rem;
}

.logo {
  display: inline-block;
  font-size: 1.5em;
}

.icon {
  color: #f3c943;
  font-family: "Libre Baskerville", serif;
}

.navbar-toggle {
  position: absolute;
  top: 0.5rem;
  right: 2rem;
  font-size: 1.5em;
  cursor: pointer;
}

.main-navlinks {
  list-style-type: none;
  display: none; /* The folding --01*/
}

.visible {
  display: block; /* The collapsing --02 using js*/
}

.main-navlinks li {
  text-align: center;
  margin: 1rem auto;
  width: 100%;
}

.main-navlinks li:hover,
.navbar-toggle:hover {
  color: #f0f0f0;
}

/* --------- Sticky page nav --------- */

.page-nav-container {
  width: 100%;
  position: fixed; /* or sticky */
  bottom: 0;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}

.page-nav {
  width: 100%;
  display: grid;
  grid-template-columns: 33.33vw 1fr 1fr;
  font-size: 1.4em;
  color: rgb(68, 68, 68);
}

.page-nav li {
  list-style-type: none;
  height: 55px;
  line-height: 55px;
  display: inline-block;
  text-align: center;
}

.page-nav li:hover {
  color: var(--theme-orange);
}

.page-nav a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.hidden-text {
  display: none;
}

@media only screen and (min-width: 40rem) {
  /* Main header nav */
  header nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }

  .main-navlinks {
    display: flex;
    flex-flow: row nowrap;
  }

  .main-navlinks li {
    margin: 0.5rem 0 0.5rem 3rem;
  }

  .navbar-toggle {
    display: none;
  }

  /* page sticky nav */
  .page-nav-container {
    position: sticky; /* or sticky */ /* important */
    top: 0; /* important */
  }

  .page-nav {
    width: 60%;
    grid-template-columns: 30% 1fr 1fr;
    font-size: 1em;
  }

  .hidden-text {
    display: initial;
    padding: 0 0.2rem;
  }
}
