<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="./css/main.css"
    />
    <!--   favicons -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="./favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="./favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="./favicon/site.webmanifest" />
    <link
      rel="mask-icon"
      href="./favicon/safari-pinned-tab.svg"
      color="#5bbad5"
    />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <!--   google fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Lato:300,400|Montserrat|Libre+Baskerville"
      rel="stylesheet"
    />
    <!--   font-awesome icons -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
    <script src="main.js"></script>
  </head>
  <body>
    <header>
      <nav>
        <span class="navbar-toggle" id="js-navbar-toggle"
          ><i class="fa fa-bars"></i
        ></span>
        <!--  Home Icon/Logo -->
        <a href="./index.html" class="logo"
          ><i class="fas fa-coins icon"></i><span class="icon">B</span>anka</a
        >
        <!--  Main navigation links -->
        <ul class="main-navlinks" id="js-navlinks">
          <li><a href="#">Support</a></li>
          <li><a href="#">Branches</a></li>
          <li><a href="#">Settings</a></li>
        </ul>
      </nav>
    </header>
    <!-- Stick Page Navbar -->
    <div class="page-nav-container">
      <ul class="page-nav" role="navigation">
        <li>
          <a href="#"
            ><i class="fas fa-wallet"></i
            ><span class="hidden-text">Accounts</span></a
          >
        </li>
        <li>
          <a href="#"
            ><i class="fas fa-hand-holding-usd"></i
            ><span class="hidden-text">Transactions</span></a
          >
        </li>
        <li>
          <a href="#"
            ><i class="fas fa-user"></i
            ><span class="hidden-text">Profile</span></a
          >
        </li>
      </ul>
    </div>
    <script src="./scripts/main.js"></script>
  </body>
</html>
