/* ----------- GENERAL STYLES ------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f6f5ff;
  font-family: "Montserrat", sans-serif;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.flex {
  display: flex;
}
.visibility-hidden {
  visibility: hidden;
}
.visibility-visible {
  visibility: visible;
}

main a {
  color: #333;
  font-size: 1em;
  text-decoration: none;
  margin: 15px 0;
}

/* ----------- CONTAINER STYLES ------------- */
.container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 640px;
  min-height: 560px;
  margin: 3rem auto;
}

.container button {
  border-radius: 20px;
  border: 1px solid #ff4b2b;
  background-color: #ff4b2b;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  transition: transform 80ms ease-in;
}

button:active {
  transform: scale(0.95);
}

button:focus,
input:focus {
  outline: none;
}

button.transparent {
  background-color: transparent;
  border-color: #ffffff;
}

.alt {
  color: #b37c62;
}

.form-container {
  height: 100%;
  position: absolute;
  top: 0;
  transition: all 0.6s ease-in-out;
}

.signup-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.signin-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

/* First Move both signin/signup containers right,
 Then stack signup ontop signin (z-index)
*/
.container.right-box-active .signup-container {
  transform: translateX(100%);
}

.container.right-box-active .signin-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

/* ---------- FORM STYLES ------------- */
form {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 10px;
  height: 100%;
  text-align: center;
}

input,
select {
  background-color: #f0f0f0;
  border: none;
  padding: 9px 11px;
  margin: 8px 0;
  width: 100%;
}

.errorInput {
  background-color: #ffe9e9;
}

form span {
  font-size: 0.8em;
  margin: 10px auto;
}

form span.mobile-tgl {
  display: none;
}

.select-gender,
.select-account {
  color: #333;
}

.select {
  width: 200px;
}

.formError {
  font-size: 0.8em;
  width: 100%;
  justify-content: center;
  align-content: center;
  color: rgb(143, 7, 7);
  margin-bottom: 0.6rem;
  visibility: hidden;
  transition: visibility 0.6s ease-in-out;
}

/* --------- OVERLAY STYLES ----------- */
.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

/* move overlay content to left */
.container.right-box-active .overlay-container {
  transform: translateX(-100%);
}

.overlay {
  background: #2a2b30;
  color: #ffffff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.container.right-box-active .overlay {
  transform: translateX(50%);
}

.overlay-box {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-right {
  transform: translateX(-20%);
}

.container.right-box-active .overlay-right {
  transform: translateX(0);
}

.overlay-left {
  right: 0;
  transform: translateX(0);
}

.container.right-box-active .overlay-left {
  transform: translateX(20%);
}

h1 {
  margin-bottom: 20px;
  font-size: 1.7em;
}

.overlay p {
  font-size: 14px;
  font-weight: 100;
  line-height: 1.5;
  letter-spacing: 0.5px;
}

.overlay p.alt {
  margin: 20px 0 30px;
}

.logo {
  display: inline-block;
  font-size: 1.5em;
}

.icon {
  color: #f3c943;
  font-family: "Libre Baskerville", serif;
}

.overlay span.icon-text {
  color: #f7e1b8;
}

@media only screen and (max-width: 639px) {
  .container {
    width: 320px;
    min-height: 600px;
  }

  .overlay-container {
    display: none;
  }

  .form-container {
    width: 100%;
  }

  .container.right-box-active .signin-container {
    transform: translateX(0);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
  }

  form span.mobile-tgl {
    display: initial;
  }
}
